<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   <div class="container">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           @Html.ActionLink("Gerenciador de Tarefas", "Listar", "Tarefas", new { area = ""}, new { @class = "navbar-brand"})
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-app">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbar-app">
               <div class="navbar-nav">
                   @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "nav-link"})
                   @Html.ActionLink("Tarefas", "Listar", "Tarefas", new object { }, new { @class = "nav-link" })
               
               </div>
           </div>
       </nav>
   </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gerenciador de Tarefas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
